POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_this_superuser_password
POSTGRES_DB=postgres

APP_DB=splitzone
APP_USER=splitzone
APP_USER_PASSWORD=change_this_app_password

TEST_APP_DB=splitzone_test
TEST_APP_USER=splitzone_test
TEST_APP_USER_PASSWORD=change_this_test_password
