ORACLE_PASSWORD=change_this_system_password
ORACLE_DATABASE=SPLITZONEDB
APP_USER=splitzone
APP_USER_PASSWORD=change_this_app_password
TEST_APP_USER=splitzone_test
TEST_APP_USER_PASSWORD=change_this_test_password
